// COLORS
$color-primary-medium: #ffcf88;
$color-primary: #ff9f10;
$color-primary-black: #191002;
$color-primary-light: #ffeccf;

$color-text-dark: #191002;
$color-text-dark-2: #332003;
$color-text-medium: #b36f0b;
$color-text-light: #ffe2b7;
$color-text-light-2: #ffeccf;

$color-card-start-1: #fdc830;
$color-card-start-2: #ed8f03;

$color-card-base-1: #ffb75e;
$color-card-base-2: #f37335;

$color-card-standart-1: #f5af19;
$color-card-standart-2: #f12711;

$color-card-max-1: #ff4b2b;
$color-card-max-2: #ff416c;

// FONT
$default-font-size: 1.6rem;

//Border radius
$default-border-radius: 1rem;
