.header {
}

.hero {
}
.band {
  display: flex;
  flex-direction: column;
}
.about {
  height: max-content;
  display: flex;

  @include respond(phone) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.what {
  margin: 8rem 4rem;

  height: max-content;

  @include respond(phone-big) {
    margin: 4rem 3rem;
  }
  @include respond(phone-small) {
    margin: 4rem 1rem;
  }
}
.features {
  border-top: 1px solid rgba($color-primary-medium, 0.5);
  border-bottom: 1px solid rgba($color-primary-medium, 0.5);

  padding: 8rem 4rem;
  background-image: linear-gradient(
    to bottom,
    $color-text-light-2,
    $color-primary-medium,
    $color-text-light-2
  );

  @include respond(phone-big) {
    padding: 4rem 3rem;
  }
}
.testimonials {
  height: max-content;
}
.buy {
  padding-top: 8rem;
  background-image: linear-gradient(
    rgba($color-primary-black, 0.9),
    rgba(#000, 1)
  );
  padding-bottom: 8rem;

  @include respond(phone-big) {
    padding-bottom: 6rem;
  }

  &__card-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 8rem;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;

    @include respond(tab-land) {
      padding-top: 6rem;
      margin: 4rem;
    }
    @include respond(phone) {
      padding-top: 2rem;
    }
  }
  &__heading {
    display: inline-block;
    margin-left: 4rem;
    margin-right: 4rem;
    color: $color-text-light-2;
  }
}
.faq {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(
    rgba(#000, 1),
    rgba($color-primary-black, 1)
  );

  @include respond(tab-land) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.gallery {
  padding-top: 2rem;
}
.featured-in {
  border-top: 2px solid rgba($color-primary-medium, 0.5);
  border-bottom: 2px solid rgba($color-primary-medium, 0.5);
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin: 8rem 4rem;

  @include respond(tab-land) {
    margin: 6rem 3rem;
  }
}
.cta {
  margin: 8rem 4rem;

  @include respond(tab-land) {
    margin: 6rem 3rem;
  }
}
.footer {
  max-width: 100%;
  padding: 10rem 4rem 4rem 4rem;
  background-color: $color-primary-black;
  display: grid;
  grid-row-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  @include respond(tab-land) {
    padding: 6rem 3rem 3rem 3rem;
  }
}
// Revealing the sections
.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
