.features-box {
  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(3, 30rem);
  justify-content: center;

  @include respond(tab-port) {
    grid-gap: 4rem;
  }
  @include respond(phone-big) {
    grid-template-columns: repeat(2, 28rem);
    grid-gap: 4rem;
  }
  @include respond(phone) {
    grid-template-columns: repeat(1, 28rem);
  }
}
.feature-box {
  height: 30rem;
  background-color: rgba($color-primary, 0.3);
  font-size: 1.6rem;
  line-height: 1.4;
  padding: 2.6rem;
  text-align: center;
  border-radius: 4px;
  transition: transform 0.3s;

  @include respond(tab-port) {
    height: 28rem;
  }
  @include respond(phone) {
    height: 25rem;
  }

  &__text {
    text-align: left;
  }

  &__icon {
    height: 6rem;
    width: 6rem;
    fill: rgba($color-text-medium, 1);
    margin-bottom: 0.5rem;
    display: inline-block;

    @include respond(tab-port) {
      margin-bottom: 0;
      height: 5rem;
      width: 5rem;
    }
    @include respond(phone) {
      height: 4rem;
      width: 4rem;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
