.projects {
  max-width: 100vw;
}

.project {
  max-width: 100vw;

  &__heading-box {
    margin: 4rem;
  }
  &-box {
    width: 90%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-row-gap: 8rem;
    grid-column-gap: 8rem;

    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-template-rows: repeat(2, 1fr);

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      width: 75%;
      padding-bottom: 6rem;
    }
  }
  &__item {
    height: 100%;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem 2rem rgba($color: $color-primary, $alpha: 0.1);

    &__img-box {
      position: relative;
    }
    &__img {
      border-radius: 4px;
      height: 100%;
      width: 100%;

      @include respond(tab-port) {
        transform: scale(0.9);
      }
    }
    &__img__title {
      color: $color-text-light;
      background-color: $color-primary-black;
      padding: 1rem;
      font-size: 2rem;
      position: absolute;
      top: 2rem;
      left: 2rem;
    }
    &__header {
      font-size: 3rem;
    }
    &__text {
    }
  }
  &__btns {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }
  &__slider__btn--right {
  }
  &__slider__btn--left {
  }
}
